@page "/callback"
@using Microsoft.AspNetCore.Components
@using Spotify2YT.Services
@using Spotify2YT.States
@using Spotify2YT.Models
@inject NavigationManager Navigation
@inject SpotifyService SpotifyService
@inject MainStateService<TrackModel> MainState

<h3>Callback</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        string path = $"{uri.Scheme}://{uri.Host}:{uri.Port}{uri.AbsolutePath}";

        if (queryParams.TryGetValue("code", out var codeValue))
        {
            string? token = await SpotifyService.GetTokenAsync(path, codeValue.ToString());

            if (!string.IsNullOrEmpty(token))
            {
                await MainState.SaveStateTokenSpotifyAsync(token);
                await MainState.SaveStateActiveSpotifyAsync(true);
            }

            Navigation.NavigateTo("/");
        }
        else
        {
            string authorizationUrl = await SpotifyService.GetUrlAuthorizeAsync(path);
            Navigation.NavigateTo(authorizationUrl);
        }
    }

}
