@page "/callback"
@page "/callback/{code}/{state}"
@using Microsoft.AspNetCore.Components
@using Spotify2YT.Services
@using Spotify2YT.States;
@inject NavigationManager Navigation
@inject SpotifyService SpotifyService
@inject MainStateService<string, string> MainState

<h3>Callback</h3>

<p>Code: @Code</p>
<p>State: @State</p>

@code {
    [Parameter]
    public string Code { get; set; } = string.Empty;

    [Parameter]
    public string State { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.Uri;

        if (string.IsNullOrEmpty(Code))
        {
            string authorizationUrl = await SpotifyService.GetUrlAuthorizeAsync(uri);
            Navigation.NavigateTo(authorizationUrl);
        }
        else
        {
            string? token = await SpotifyService.GetTokenAsync(uri, Code);

            if (!string.IsNullOrEmpty(token))
            {
                await MainState.SaveStateTokenSpotifyAsync(token);
                await MainState.SaveStateActiveSpotifyAsync(true);
            }

            Navigation.NavigateTo("/");
        }
    }

}
