@page "/callback"
@page "/callback/{code}/{state}"
@using Microsoft.AspNetCore.Components
@using Spotify2YT.Services
@inject NavigationManager Navigation
@inject SpotifyService SpotifyService

<h3>Callback</h3>

<p>Code: @Code</p>
<p>State: @State</p>

@code {
    [Parameter]
    public string Code { get; set; } = string.Empty;

    [Parameter]
    public string State { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.Uri;

        if (string.IsNullOrEmpty(Code))
        {
            string authorizationUrl = await SpotifyService.GetUrlAuthorizeAsync(uri);
            Navigation.NavigateTo("/");
        }
        else
        {
            // string authorizationUrl = await SpotifyService.GetUrlTokenAsync(uri);
        }
    }

}
