@page "/counter"
@rendermode InteractiveServer
@using Spotify2YT.ViewModel
@inject CounterViewModel ViewModel

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @ViewModel.Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
    {
        ViewModel.IncrementCommand.Execute(null);
    }
}
